/* **************************************************
    PRINCIPAL STYLES 
************************************************* **/
:root{
    --background-color: #D1FDFF;
    --primary-color: #102266;
    --body-color: #000000;
    --highlight-color: #427C80;
    --header-color: #F4FBEE;
}
body{
    color: var(--body-color);
    font-family: 'Oswald', sans-serif;
    line-height: 1.09;
    background: radial-gradient(circle,var(--background-color), var(--highlight-color));
}